body {
  background: #111;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 10px;
  font-size: 90%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.4);
  display: inline-block;
  text-align: left;
}

h1 {
  padding: 20px;
  line-height: 1.4em;
}

img {
  max-width: 100%;
  width: auto;
}

.App {
  color: #fff;
  text-align: center;
  margin: auto;
}

.container {
  text-align: center;
  padding: 15px;
}

.sidebox {
  width: 50%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-right: 10px;
}

.Form {
  width: 30%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
}

.Form-error {
  display: block;
  padding: 12px;
  color: #BC4752;
  background-color: #FBECEA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 12px;
  font-size: 80%;
}

ul { padding-left: 20px; }

ul li {
  margin: 8px 0;
  line-height: 1.4em;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border-width: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 12px;
  box-sizing: border-box;
}

.button-wrapper {
  text-align: center;
  margin-top: 24px;
}

button {
  padding: 14px 20px 13px;
  background: rgb(34, 153, 58);
  font-size: large;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s;
}

button:hover {
  cursor: pointer;
  background: rgb(20, 123, 49);
}
